$nav-bg-color: rgb(28, 57, 100);
$nav-text-color: #fff;
$nav-hover-color: #fff;
$nav-hover-bg: rgb(35, 169, 223);

$nav-font-size: 18px;

$btn-color: rgb(75, 107, 194);
$btn-text-color: rgb(255, 255, 255);
$btn-hover-bg: rgb(111, 160, 223);
$btn-hover-text: rgb(255, 255, 255);

$btn-disabled-bg: rgb(201, 201, 201);
$btn-disabled-text: #000;

$test-right-bg: green;
$test-wrong-bg: red;