.nav {
    display: flex;
    background: dimgrey;

    &__links {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
    }

    &__link {
        text-decoration: none;
        color: ghostwhite;
    }

    &__anchor {
        text-decoration: none;
    }
}