.wrong {
    background-color: red;
}

.right {
    background-color: green;
}

.list-item {
    box-sizing: content-box;
    padding: 20px;
    width: 50%;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(135, 204, 250, 0.562);
    }
}